//- doctype html
//- head
//-   link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
//-   nav.navbar.stick-top.navbar-dark.bg-success
//-     a.navbar-brand.mb-0.h1(href='#') Digitize It
//-   head
//- block content

doctype html
head
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
  nav.navbar.stick-top.navbar-dark.bg-success
    a.navbar-brand.mb-0.h1(href='#') Digitize It
    block content
  head
    style.
    title Digitize It
    link(rel='stylesheet' href='https://unpkg.com/leaflet@1.3.4/dist/leaflet.css' integrity='sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==' crossorigin='')
    link(rel='stylesheet' href='https://unpkg.com/leaflet.pm@latest/dist/leaflet.pm.css')
    script(src='https://unpkg.com/leaflet@1.3.4/dist/leaflet.js' integrity='sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==' crossorigin='')
    script(src='https://unpkg.com/shpjs@latest/dist/shp.js')
    script(src='https://unpkg.com/leaflet.pm@latest/dist/leaflet.pm.min.js')
#mapid(style='width: 100%; height: 90%;')
block content